.vertical-divide{
    display: flex;
    flex-direction: column;
}

.horizontal-divide{
    display: flex;
}

.footer{
    background-color: #43689b;
    height: 10vh;
    display: flex;
}

.right-col{
    display: flex;
    flex-direction: column;
    width: 98%;
}
.left-col{
    width:2%;
    display: flex;
    background-color: rgb(233, 233, 233);
    height: 90vh;
    float: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iconbox{
    height: 12.5vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image{
    width: 86%;
    height: 90%;
}

.footer-logo-div{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3%;
}

.footer-left-text-box{
    width: 40%;
    margin-left: 1%;
    font-size: small;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: left;
}

.footer-icons{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon-div{
    width: 20%;
}

.header{
    display: flex;
    background-color: #454545;
    height: 30vh;
    width: 100%;
}

.header-img-div{
    width: 15%;
    display: flex;
    align-items: center;
}

.header-text-div{
    width: 85%;
    color:white;
    display: flex;
    flex-direction: column;
}

.header-logo{
    max-width: 82%;
    max-height: 82%;
    margin-left: 9%;
}

table {
    font-size: small;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  td{
    width: 25%;
  }
  tr:nth-child(even) {
    background-color: #e9e9e9;
  }



  a{
    text-decoration: none;
    font-size: smaller;
    border: 1px solid black;
    padding: 0.5%;
  }
